<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>back-end</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>a</display-name>
    <servlet-name>a</servlet-name>
    <servlet-class>controller.a</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a</servlet-name>
    <url-pattern>/a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EsqueciSenha</display-name>
    <servlet-name>EsqueciSenha</servlet-name>
    <servlet-class>controller.EsqueciSenha</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EsqueciSenha</servlet-name>
    <url-pattern>/EsqueciSenha</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedefinirSenha</display-name>
    <servlet-name>RedefinirSenha</servlet-name>
    <servlet-class>controller.RedefinirSenha</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedefinirSenha</servlet-name>
    <url-pattern>/RedefinirSenha</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adicionarResenha</display-name>
    <servlet-name>adicionarResenha</servlet-name>
    <servlet-class>resenha.adicionarResenha</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adicionarResenha</servlet-name>
    <url-pattern>/adicionarResenha</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editarExcluirResenha</display-name>
    <servlet-name>editarExcluirResenha</servlet-name>
    <servlet-class>resenha.editarExcluirResenha</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editarExcluirResenha</servlet-name>
    <url-pattern>/editarExcluirResenha</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>excluirEditarResenha</display-name>
    <servlet-name>excluirEditarResenha</servlet-name>
    <servlet-class>resenha.excluirEditarResenha</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>excluirEditarResenha</servlet-name>
    <url-pattern>/excluirEditarResenha</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pegarResenha</display-name>
    <servlet-name>pegarResenha</servlet-name>
    <servlet-class>resenha.pegarResenha</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pegarResenha</servlet-name>
    <url-pattern>/pegarResenha</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pegarResenha.java</display-name>
    <servlet-name>pegarResenha.java</servlet-name>
    <servlet-class>resenha.pegarResenha</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pegarResenha.java</servlet-name>
    <url-pattern>/pegarResenha.java</url-pattern>
  </servlet-mapping>
</web-app>